AI Agents/Recherche Agent/Template/telegram recherche agent.json
{
  "name": "telegram recherche agent",
  "nodes": [
    {
      "parameters": {
        "content": "# Research Agent in Notion",
        "height": 600,
        "width": 1340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        180,
        40
      ],
      "id": "d688c2d3-c8c7-4ed0-8a19-e4566308f019",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        160
      ],
      "id": "7365380f-6a3e-4132-9c8f-49ce5b9d3fc6",
      "name": "Thema in Telegram nennen",
      "webhookId": "2dbdcf21-068b-4dec-8086-bdfd7e1d5c93",
      "credentials": {
        "telegramApi": {
          "id": "q0CqyzDVrs4IdvJI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert researcher! You shall research the topic from the given input and use your tools like the perplexity tool to search for the best result in a good readable format. Every prompt has to be explained very precisely. \n\nThe output-item should be formatted, so that the output can be written directly into the notion page."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        460,
        160
      ],
      "id": "be3a740a-7877-424f-a411-d1dc5e82a38c",
      "name": "AI Agent",
      "retryOnFail": false
    },
    {
      "parameters": {
        "model": "qwen/qwen3-32b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        460,
        400
      ],
      "id": "78cd065a-bab8-4bf3-a9e8-d8f6833c38da",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "39QWigTHMtdj7ChI",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"
            }
          ]
        },
        "simplify": true,
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        580,
        400
      ],
      "id": "d9cdc62d-0ee0-43f5-98c6-fb3a030b591f",
      "name": "Research Tool",
      "credentials": {
        "perplexityApi": {
          "id": "OtTvVKJi41YavEGt",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"Beispiel체berschrift\",\n  \"content\": \"Beispielinhalt\"\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        800,
        400
      ],
      "id": "2bb724a0-2ff4-4a05-8301-4a430293ca4d",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1000,
        500
      ],
      "id": "fb475efb-31cf-4834-9a89-cee41ae08c0b",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "39QWigTHMtdj7ChI",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Thema in Telegram nennen').item.json.message.chat.id }}",
        "text": "=Deine Recherche ist abgeschlossen!!\nDas Thema \"{{ $('Thema in Telegram nennen').item.json.message.text }}\" wurde erfolgreich auf einer neuen Unterseite auf deiner Notion-Seite \"AI Recherche Agent\" unter dem Link {{ $json.url }} erstellt.\nBis zum n채chsten Mal! \nDein Recherche Bot",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        160
      ],
      "id": "deb866f1-a0ad-49fa-878a-3d8018448ad5",
      "name": "Best채tigungsnachricht versenden",
      "webhookId": "fd122b7e-c4d3-46a1-844a-e17c83063ec2",
      "credentials": {
        "telegramApi": {
          "id": "q0CqyzDVrs4IdvJI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "pageId": {
          "__rl": true,
          "value": "=https://www.notion.so/Ai-Recherche-Agent-237b1f38746d802ea375d240ae5806ad?source=copy_link",
          "mode": "url"
        },
        "title": "={{ $json.output.title }}",
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ $json.output.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        900,
        160
      ],
      "id": "81abc743-1b27-4b94-be1a-9f58022d37be",
      "name": "Unterseite erstellen",
      "credentials": {
        "notionApi": {
          "id": "DLMcIiBDixaB4zL8",
          "name": "Notion account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Thema in Telegram nennen": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Research Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Unterseite erstellen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Unterseite erstellen": {
      "main": [
        [
          {
            "node": "Best채tigungsnachricht versenden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6a7dc66e-75dc-497f-937b-d5c80255eb2f",
  "meta": {
    "templateId": "1954",
    "templateCredsSetupCompleted": true,
    "instanceId": "87d70ee82e58d850537d695689e61bf736f2136f8fd74ba92aad41715378ff5c"
  },
  "id": "mRNY8EQ9xUj41ncT",
  "tags": []
}