AI Agents/News Agent/Template/news_agent.json
{
  "name": "news_agent",
  "nodes": [
    {
      "parameters": {
        "content": "## News Agent\n",
        "height": 400,
        "width": 1120
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -352,
        -16
      ],
      "id": "c2288af4-f6f7-46de-b3f9-756280f3e28e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "Nutze Perplexity als weiteres Recherche tool und schreibe niemals \"```html\" in den Beginn des Outputs"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        80,
        64
      ],
      "id": "d2269d91-7220-48b3-8f16-d9772763f4cb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ef29af1f-202c-47ff-ac37-0cddd876887c",
              "name": "prompt",
              "value": "=Du bist ein professioneller Nachrichtensprecher.  Erstelle mir eine Übersicht der {{ $json['Day of month'] }}.{{ $json.Month }}.{{ $json.Year }} wichtigsten Nachrichten aus den Medien, foren und Social media.  Es sollen die Kategorien „allgemeine Nachrichten“ , „Finanzen“ , „Politik“ und „Tech/IT/KI“ recherchiert werden.  Beschreibe die Kategorie “Tech/IT/KI” sehr präzise und priorisiere Themen wie KI und Machine Learning.  Die Übersicht soll alle Kategorien einmal auf deutscher Ebene und einmal auf internationaler Ebene widerspiegeln.  Gebe den Output so an, dass es ein für eine tägliche Übersicht geeignetes Format besitzt.Nehme folgende Übersicht als HTML Template für die Formatierung \n<!DOCTYPE html>\n<html lang=\"de\">\n<head>\n    <meta charset=\"UTF-8\">\n    <title>Tägliche Nachrichtenübersicht 12. August 2025</title>\n</head>\n<body>\n    <h1>Tägliche Nachrichtenübersicht vom 12. August 2025</h1>\n\n    <h2>Deutschland</h2>\n\n    <h3>Allgemeine Nachrichten</h3>\n    <ul>\n        <li>Hitzeperiode verschärft sich: Klimawirkungen und steigende Nachfrage nach Kühlung prägen den Wochenverlauf. Behörden warnen vor Gesundheitsrisiken bei Extremwerten.</li>\n        <li>Tagesüberblick: Medien fassen Entwicklungen zu Wetterlage, außenpolitischen Spannungen und inländischen Debatten zusammen.</li>\n    </ul>\n\n    <h3>Finanzen</h3>\n    <ul>\n        <li>Klimawandel und Konsum: Steigende Nachfrage nach Klimageräten belastet Einzelhandel und Energieverbrauch.</li>\n        <li>Lieferkettenrisiken: Witterungsbedingte Ernteausfälle (z. B. Haselnüsse) bedrohen Preistrends bei Lebensmitteln.</li>\n    </ul>\n\n    <h3>Politik</h3>\n    <ul>\n        <li>Ukraine-Krieg: EU betont ukrainische Eigenentscheidung bei Friedensprozessen. Debatten um die Rolle Deutschlands in der Diplomatie dominieren die Agenda.</li>\n        <li>Innenpolitische Diskussionen: Berichte über Regierungsentscheidungen und Oppositionspositionen zu aktuellen Themen.</li>\n    </ul>\n\n    <h3>Tech/IT/KI</h3>\n    <ul>\n        <li>KI-Anwendungen in der Praxis: Fokus auf KI-gestützte Lösungen für Klimamanagement (z. B. Vorhersagen zur Hitzeentwicklung) und Energieeffizienz.</li>\n        <li>Infrastruktur unter Druck: Rechenzentren kämpfen mit Kühlungsanforderungen im Zuge der Wärme. Diskussionen zu Resilienzstrategien.</li>\n    </ul>\n\n    <h2>International</h2>\n\n    <h3>Allgemeine Nachrichten</h3>\n    <ul>\n        <li>Ukraine-Updates: Dynamische militärische Lage bleibt im Fokus; EU fordert ukrainische Einbindung in Friedensgespräche.</li>\n        <li>Extremwetter in Europa: Hitze und Überschwemmungen belasten mehrere Länder.</li>\n    </ul>\n\n    <h3>Finanzen</h3>\n    <ul>\n        <li>Agrarrohstoffpreisrisiken: Frost in der Türkei bedroht Haselnussernte – Schokoladenpreisrisiken erhöhen sich.</li>\n        <li>US-Pakistan-Beziehungen: US-Entscheidung zur Terrorgruppen-Stufung könnte Handelsbeziehungen beeinflussen.</li>\n    </ul>\n\n    <h3>Politik</h3>\n    <ul>\n        <li>EU-Position zur Ukraine: Vor Trump-Putin-Begegnung setzt EU auf klare Einbindung Kyjiws in Friedensverhandlungen.</li>\n        <li>Terrorismus-Listung: USA stuft pakistanische Gruppen als Terrororganisationen ein – Sicherheitspolitik im Mittelpunkt.</li>\n    </ul>\n\n    <h3>Tech/IT/KI</h3>\n    <ul>\n        <li>KI im Klimaschutz: Einsatz von KI-Modellen zur Vorhersage und Anpassung an Extremwetter (z. B. Netzsteuerung bei Hitze).</li>\n        <li>Digitale Transformation: Unternehmen schließen KI-Lösungen für Automatisierung in Energie und Industrie an, um Wettbewerbsfähigkeit zu sichern.</li>\n    </ul>\n</body>\n</html>\n\n\nGebe zusätzlich nur die Übersicht als Output weiter und keine einleitenden Wort bezüglich des Formats oder der Quellen",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        64
      ],
      "id": "d054658a-aac8-40cf-b654-e993352df01f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": "qwen/qwen3-32b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        80,
        224
      ],
      "id": "c8319e0b-70c0-492e-a1e2-39b7c419b6fe",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "39QWigTHMtdj7ChI",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "sonar",
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"
            }
          ]
        },
        "simplify": true,
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        224,
        224
      ],
      "id": "2d4e2b87-94df-4a3a-9dbe-b4354b90dd9a",
      "name": "Message a model in Perplexity",
      "credentials": {
        "perplexityApi": {
          "id": "OtTvVKJi41YavEGt",
          "name": "Perplexity account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "j@rvdm.de , n@rvdm.de",
        "subject": "=News-Agent",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        496,
        64
      ],
      "id": "9503b121-11bb-4a2d-9209-441bf79d1645",
      "name": "Send a message",
      "webhookId": "03a84db8-2595-42a6-835c-1477491298ce",
      "credentials": {
        "gmailOAuth2": {
          "id": "P1WwACDPQnauWFLm",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -320,
        64
      ],
      "id": "09fc723d-2263-43f8-b540-66aaa9032323",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Message a model in Perplexity": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Berlin",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "c6496d98-74fb-4b95-9fab-bfbdacf71019",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "87d70ee82e58d850537d695689e61bf736f2136f8fd74ba92aad41715378ff5c"
  },
  "id": "LrKvWfMwtHhmR6Iq",
  "tags": []
}